.Editor > section{
    margin-bottom: 40px;
}
.Editor > section > h4{
    font-size: 22px;
    font-weight: bold;
}

.Editor > section > input, textarea{
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.Editor > section > textarea{
    padding: 20px;
    width: 100%;
    min-height: 20px;
    resize: vertical;
    box-sizing: border-box;
}
.emotion_list_wrapper{
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

.Editor .date_section{

}

.Editor .emotion_section{

}

.Editor .content_section{

}

.Editor .button_section{
    display: flex;
    justify-content: space-between;
}